<br />
<div class="places-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <br />
  <%= image_tag current_course.image.url, class: "classimg img-fluid" unless current_course.image.url.nil? %>
  <br />
  <div class="text-center">
    <br />
      <ul>
      <% current_course.sections.each do |section| %>
        <li>
         <h3><b><%= section.title %></h3></b>
          <br />
          <ul>
              <% section.lessons.each do |lesson| %>
                <li><%= link_to lesson_path(lesson) do %>
                  <b><%= lesson.title %></b>
                  -
                  <%= lesson.subtitle %>
                <% end %>
                </li>
              <% end %>
          </ul>
          <br class="clr" />
        </li>
        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'btn btn-primary btn-sm' %>
        <br />
        <br />
      <% end %>
      </ul>
    <br />
    <%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary' %>
    <br />
    <br />
    <%= link_to 'Preview As Student...', course_path(current_course), class: 'btn btn-warning' %>
  <br class="clr" />
  </div>
  <br />
</div>