<br />

<div class="places-box col-10 offset-1">
  <h1 class="text-center"><%= @course.title %></h1>
  <div class="text-center"><%= @course.description %></div>
  <br />
  <%= image_tag @course.image.url, class: "classimg img-fluid" unless @course.image.url.nil? %>
  <br />
  <div class="row">
  <div class="col-sm-4 col-12 text-center">
    <span class="badge badge-default">
      <div class="col-sm-4 col-12">
        <%= number_to_currency @course.cost %>
      </div>
    </span>
    <% if current_user && current_user == @course.user %>
      <br />
      <br />
      <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
    <% end %>
  </div>
    <div class="col-sm-8 col-12">
      <div class="col-12">
        <% @course.sections.each do |section| %>
          <div class="section">
            <h4><%= section.title %></h4>
            <div class="row">
            <% section.lessons.each do |lesson| %>
             <div class="col-12 col-sm-6">
              <div class="lesson text-center">
                <%= link_to lesson_path(lesson) do %>
                <b><%= lesson.title %></b>
                <br />
                <%= lesson.subtitle %>
                <% end %>
              </div>
              <br class="clr" />
            </div>
            <% end %>
          </div>
        <br />
      <% end %>
    </div>
    </div>
  </div>
</div>
